
/* TODO: dont forget to re enable cache on chrome after this development is complete!!!!! */
html,

/* main layout styles */
body {
	background-color: #ffa03b;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

/* h1 { font-size: 400%;} */

.flex-container {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
  }

header {
	display: flex;
	background-color: #ffa03b;
	justify-content: center;
	align-items: top;
	
	height: 100px;
	width: 100%;
	flex-shrink: 0;
	white-space: nowrap;
}
  
main {
	display: flex;
	background-color: #ffa03b;
	width: 100%;
	height: 100%;
	/* flex-wrap: wrap;
	flex-direction: column; */
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	/* border-top: white 5px; */
}

footer {
	background-color: white;
	height: 60px;
	width: 100vw;
	flex-shrink: 3;
	line-height: 30px;
	text-align: center;
}
  
.navigation-bar {
	width: 100%;
	height: 80px;
	background-color: #ffa03b;
}

.logo {
	display: inline-block;
	vertical-align: middle;
	height: 70px;
	width: auto;
	margin-right: 10px;
}


.skewed-button {
	background-color: white;
	display: inline-block;
	
	vertical-align: top;
	/* text-align: center; */
	line-height: 50px;
	margin-right: 20px;
	height: 80px;
	width: 100px;

	transform: skewX(20deg);
	transform-origin: top right;
}

.skewed-button p {
	transform: skewX(-20deg);
}

/* home page styles */
.home-page {
	/* text-align: center; */

}

.super-header {
	font-size: 400%;
}

/* login page styles */
.login-page {
	width: 100%;
	height: 20%;
	margin: auto;
	text-align: center;
}

/* user show page styles */
.user-page-header {
	width: 100vw;
}

.left-justify-text {
	text-align: left;
}

.project-group {
	width: 90%;
}