<h2>Create New User:</h2>
<br>

<form method="post" action="/users" name="new_user">

<label for="username">Username:</label>
<input type="text" id="username" name="username" >
<br>

<label for="first_name">First Name:</label>
<input type="text" id="first_name" name="first_name" >
<br>

<label for="last_name">Last Name:</label>
<input type="text" id="last_name" name="last_name" >
<br>

<label for="email">Email:</label>
<input type="email" id="email" name="email" >
<br>

<label for="password">Password:</label>
<input type="password" id="password" name="password" >
<br>

<label for="position">Positon:</label>
<input type="text" id="position" name="position" >
<br>

<br><br>

TODO:<br>
current jobsites (checkboxes)<br>
<br>
<br>
<br>

<hr>
<input type="submit" name="submit" id="submit" value="Create New User">
</form>
