<!DOCTYPE html>
<html>
  	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	</head>

	<body>
		<h1>All Projects: </h1>
		<div class="item-group">
			<%@projects.each do |project|%>
				<h3><%=project.name%> </h3>
				Site Address: <%=project.address%> <br>
				Scheduled Duration: <%=project.scheduled_duration%> <br>
				

				<a href="/projects/<%=project.slug%>" >View Project Details</a>
				<hr style="border-top: dotted 1px;" />


			<%end%>
		</div>

		<form method="GET" action="/projects/new" >
        	<input class="button" type="submit" value="CREATE NEW PROJECT" id="New Project" >
    	</form>
	</body>
</html>