<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
   

    <title>Krane Home</title>
  </head>
  <body>

    <div class="container">

      <h1>Welcome to Krane!</h1>
      *insert cheesy quote here* 
      <h3>"Lifting your productivity to new heights"</h3>
    
    </div>

  </body>
</html>
