  <head>
    <title>Krane Home</title>
  </head>
  <body>

    <div class="home-page">

      <h1 class="super-header">Welcome to Krane!</h1>
      <h2>Daily construction reports made easy!</h2>
      *insert cheesy quote here* 
      <h3>"Lifting your productivity to new heights."</h3>
    
    </div>

    <div class="container">
    <br>
    <br>
    <h1>CREATE A NEW REPORT</h1> 
    <a href="/daily_reports/new"><img src="/images/journal-icon.png" alt="Journal Icon" ></a>
     
    </div>

  </body>
</html>
