<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
   

    <title>Krane Home</title>
  </head>
  <body>

    <div class="home-page">

      <h1 class="super-header">Welcome to Krane!</h1>
      <h2>Daily construction reports made easy!</h2>
      *insert cheesy quote here* 
      <h3>"Lifting your productivity to new heights"</h3>
    
    </div>

  </body>
</html>
