<!doctype html>
<html>
  <head>
    <title>Krane</title>
  </head>
  <body>

    <div class="container">

      <a href="/">Home</a> &emsp;
      <a href="/users/signup">Sign Up</a> &emsp;
      <a href="/login">Log In</a> &emsp;
      <a href="/daily_reports">All Daily Reports</a> &emsp;
      <a href="/daily_reports/new">New Report</a> &emsp;
      <a href="/projects">All Projects</a> &emsp;
      <a href="/projects/new">New Project</a> &emsp;
      <a href="/logout">Log Out</a>  
      
      <br>
      This still needs lots of development...
      <hr>
      <br>

      <%= yield %>
    
    </div>

  </body>
</html>
