<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="flex-container"> 
      <header>
        <nav class="navigation-bar">
          <img src="/images/Krane_logo_white.png" alt="Krane Logo" class="logo">
         
          <div class="skewed-button">
            <p><a href="/">Home</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/daily_reports/new">New Report</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/daily_reports">All Reports</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/users">All Users</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/projects">All Projects</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/login">Log In</a></p>
          </div>
          <div class="skewed-button-filler">
          </div>
        </nav>
      </header>

      <main>
        <div class="orange-white-transition">
        </div>
        <%= yield %>
      </main>

      <footer>
        <div class="white-orange-transition">
        </div>
        
        <%if logged_in? %>
          <p>Currently Logged in as: <a href="/users/<%=current_user.slug%>" ><%=current_user.first_name%> <%=current_user.last_name%> </a> 
          &emsp; &emsp; <a href="/logout">Log Out</a></p>
        <%else%>
          <a href="/login">Log In</a> &emsp; or &emsp; <a href="/users/signup">Sign Up</a>
        <%end%>
      </footer>
    </div>
  </body>
</html>
