<!DOCTYPE html>
<html ang="en">
  <head>
    <meta charset="UTF-8", name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>

  <body>
    <div class="flex-container"> 
      <header>
        <nav class="navigation-bar">
          <img src="/images/Krane_logo_white.png" alt="Krane Logo" class="logo">
         
          <div class="skewed-button">
            <p><a href="/">Home</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/daily_reports/new">New Report</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/users">All Users</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/daily_reports">All Reports</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/projects">All Projects</a></p>
          </div>

          <div class="skewed-button">
            <p><a href="/login">Log In</a></p>
          </div>
        </nav>
      </header>

      <main>
        TODO: move sign up to login page <a href="/users/signup">Sign Up</a>
        TODO: move new project link to all projects page  <a href="/projects/new">New Project</a>
        <%= yield %>

      </main>
      <footer>
        <p>Currently Logged in as: <a href="/users/<%=current_user.slug%>" ><%=current_user.first_name%> <%=current_user.last_name%> </a> 
        &emsp; &emsp; <a href="/logout">Log Out</a></p>
      </footer>
    </div>
  </body>
</html>
